@font-face {
    font-family: 'Fredoka One';
    src: url(FredokaOne.ttf);
}

html {
    height: 100%;
    background-color: #3EB1A3;
    color: white;
    font-family: 'Fredoka One';
    user-select: none;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: 0;
}

header, footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    font-size: 34px;
    line-height: 100%;
}

main {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.text {
    font-size: 48px;
    line-height: 100%;
}

.buttons {
    max-width: 340px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button {
    width: 100%;
    background-color: #3F0044;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    line-height: 100%;
    padding: 8px 0;
    cursor: pointer;
    -webkit-tap-highlight-color:  transparent;
}

.purple {
    color: #3F0044;
}

.animation {
    animation: anim 2s ease;
}

@keyframes anim {
    50% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}